body {
  background: #081d39;
}

#main-content {
  margin: 0 auto;
}

#main-content h3 {
  text-align: center;
}

#main-content dt {
  margin-bottom: 0;
}

#main-content dd {
  margin-bottom: 18px;
}

ul.member-photo {
  text-align: center;
  line-height: 18px;
  width: 480px;
  margin: 0 auto 18px auto;
}

ul.member-photo li {
  display: inline;
  /*margin: 0 .5em;*/
  margin: 0 15px 0 0 !important;
  padding: 0;
}

#main-content img.figure {
  border: 4px solid #17375b;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
