html {
  min-width: 880px;
  position: relative;
}

body {
  background: #17375b url('../images/right_col_bg.gif') top right repeat-y;
  color: #fffeea;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

  /* start header styles */
  
  #header h1 {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #header, #header-mid, #header-left, #nav {
    height: 250px;
  }
  
  #header {
    background: #790000 url('../images/header_nav.gif') no-repeat;
  }
  
  #header-mid {
    background: #790000 url('../images/header_nav.gif') no-repeat;
    margin-right: 160px;
    border-right: 1px dotted #ffca2a;
  }
  
  #header-left {
    background: #790000 url('../images/header_nav.gif') no-repeat;
    margin-right: 160px;
    border-right: 1px dotted #ffca2a;
  }
  
  #header.on, #header-mid.on, #header-left.on {
    background: #390000 url('../images/header_nav_on.gif') no-repeat;
  }
  
  #nav {
    background: #ffca2a url('../images/header.gif') no-repeat;
    margin-right: 160px;
  }
  
  
  #preload {
    /* we want this image to get preloaded for rollover */
    background: url('../images/header_nav_on.gif');
    width: 1px;
    height: 1px;
    position: absolute;
    left: -999px;
    top: -999px;
  }
  
    /* start navbar styles */
    
    #nav, #nav a {
      font-family: Georgia, Times, Times New Roman;
      font-size: 18px;
      color: #fffeea;
      text-decoration: none;
      text-transform: lowercase;
      text-align: center;
      letter-spacing: 2px;
    }
    
    #nav a:hover {
      border-bottom: 1px dotted #ffca2a; 
    }
    
    #nav li, #nav h2 {
      width: 160px;
    }
    
    #nav li {
      padding-top: 32px;
    }
    
    #nav h2 {
      padding-top: 24px;
      padding-bottom: 18px;
      font-weight: bold;
    }
    
    #nav-about {
      position: absolute;
      top: 0;
      right: 320px;
      width: 160px;
      height: 250px;
    }
    
    #nav-culture {
      position: absolute;
      top: 0;
      right: 160px;
      width: 160px;
      height: 250px;
    }
    
    #nav-login {
      position: absolute;
      top: 0;
      right: 0;
      width: 160px;
      height: 250px;
    }
    
    #nav-about:hover a, #nav-culture:hover a, #nav-login:hover a,
    #header-left.on #nav-about a, 
    #header-mid.on #nav-culture a,
    #header.on #nav-login a {
      color: #ffca2a;
    }
    
    /* end navbar styles */
 
  /* end header styles */
  
  
  
  /* start content styles */
  
  strong, b {
    font-weight: bold;
  }

  em, i {
    font-style: italic;
  }
  
  a {
    color: #ffca2a;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #main-content {
    margin-right: 482px;
    padding: 40px;
  }
  
  #main-content h3, #sidebar h3 {
    font-family: Georgia, Times, Times New Roman;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 18px;
    padding-top: 90px;
    background: url('../images/separator.gif') center 36px no-repeat;
  }
  
  #main-content h4, #sidebar h4 {
    font-family: Georgia, Times, Times New Roman;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 18px;
    margin-top: 36px;
  }
  
  #main-content h5, #sidebar h5 {
    font-family: Georgia, Times, Times New Roman;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 18px;
  }

  #main-content img.project-photo {
    margin: 4px;
  }

  #main-content h3:first-child, #sidebar h3:first-child {
    padding-top: 0;
    background: transparent;
  }
  
  #main-content p, #sidebar p {
    line-height: 18px;
    text-align: justify;
    margin-bottom: 18px;
  }
  
  #main-content dt, #main-content dd {
    line-height: 18px;
  }
  
  
  #main-content dt {
    margin-bottom: 18px;
    font-weight: bold;
  }
  
  #main-content dd {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 36px;
    text-align: justify;
  }

  #main-content ul li {
    line-height: 18px;
    margin-left: 18px;
    list-style: disc;
  }
  
  #main-content ul {
    margin-bottom: 18px;
  }
  
    /* start sidebar styles */
    
    #sidebar {
      width: 402px;
      position: absolute;
      right: 0px;
      top: 250px;
      padding: 40px;
    }
    
    img.figure {
      margin-bottom: 18px;
    }

    /* end sidebar styles */
    
  /* end content styles */
